/// button filter

.btn-filter {
    padding: 11px 16px;
    border: 1px solid $primary1;
    border-radius: 6px;
    background-color: $white;
    cursor: pointer;

    @include dCenter();

    span {
        font-weight: bold;
        font-size: 18px;
        color: $primary1;
        margin-left: 12px;
    }
}
.btn-import {
    display: inline-block;
    padding: 11px 16px;
    border: 1px solid $primary1;
    border-radius: 6px;
    background-color: $white;
    cursor: pointer;

    font-weight: bold;
    font-size: 18px;
    color: $primary1;
    margin-left: 12px;
}
.btn-modal {
    font-weight: bold;
    font-size: 18px;
    color: $primary1;

    padding: 11px 63px;
    border: 1px solid $primary1;
    border-radius: 8px;
    background-color: $white;
    &:hover {
        background-color: $primary1;
        color: $white;
    }
}
.btn-primary {
    padding: 11px 24px;
    margin: 0 10px;
    background: $primary1;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);

    font-size: 18px;
    color: $white;
    font-weight: bold;
    &:hover {
        border: 1px solid $primary1;
        color: $primary1;
        background-color: $white;
    }
}
.btn-update {
    background-color: $white;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: $primary1;
    @include dCenter;
}
.btn-save{
    padding: 11px 63px;
    margin: 0 10px;
    background: $primary1;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);

    font-size: 18px;
    color: $white;
    font-weight: bold;
    &:hover {
        border: 1px solid $primary1;
        color: $primary1;
        background-color: $white;
    }
}
